p{
    text-align: center;
    color:white;
}
body{
    background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fc%2F0%2F0%2F382612-plain-backgrounds-1920x1200-pictures.jpg&f=1&nofb=1");
    background-size: cover;
    background-repeat: no-repeat;

}
h1{
    color:white;
}
