p{
    text-align: center;
    color:white;
    font-size: 20px;
}
body{
    background-image: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fc%2F0%2F0%2F382612-plain-backgrounds-1920x1200-pictures.jpg&f=1&nofb=1");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

}

h1{
    color:rgba(197, 223, 235, 0.719);
    font-family:'Press Start 2P';
    font-size: 50px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.card-body{
    color:black;
    font-size: 30px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
  
  .oyaa {
    position: relative;
    color: white;
  }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
  

 }

    }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 
 
  
